
.default-padding{
	padding-left: 20px;
    padding-right: 20px;
	padding-top: 10px;
    padding-bottom: 10px;
}

.padding-top{
	padding-top: 10px;
}

.padding-left{
	padding-left: 20px;
}

.padding-right{
	padding-right: 20px;
}

.padding-bottom{
	padding-bottom: 10px;
}

