
.header{
	display: flex;
	flex-direction: row;

	padding: 2%;
}

.date{
	flex-grow: 1;
	padding: 1%;
}

.add-task-button{
    
    background-color: rgb(139 92 246);
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
}

